/* Google Fonts */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/**********************/

body{
    display: flex;
}

p{
    margin: 0;
}

#img-container{
    height: 100vh;
    background: no-repeat center/cover url(david-courbit-9XzyEzPAHMI-unsplash.jpg);
    flex: 2 1 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 82, 100, 0.5);
    margin-top: 20px;
    color: rgb(229, 232, 235);
    font-size: 2rem;
}

#logo-container img{
    width: 100px;
}

.footer-links{
    min-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 5px;
    background-color: rgb(50, 71, 50, 0.6);
}

.footer-links p, a{
    color: rgb(245, 239, 230, 0.8);
    font-family: Helvetica, sans-serif;
    font-size: 0.7rem;
}
